html, body {
    font-family: 'Overpass', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out
}

a:hover {
    color: rgb(192, 245, 254)
}

#nav-container {
    background: linear-gradient(to left, rgb(114, 132, 131),rgb(74, 97, 95))
}

#fixed-nav {
    background: linear-gradient(to left, rgb(114, 132, 131),rgb(74, 97, 95))
}

#header {
    color: white;
}

#header h1 {
    font-size: 64px;
}

#nav li {
    color: white;
}

#nav li:hover {
    color: rgb(192, 245, 254)
}

#top:hover {
    color: rgb(192, 245, 254)
}

#content {
    color: rgb(74, 97, 95)
}


#footer {
    background: linear-gradient(to left, rgb(114, 132, 131),rgb(74, 97, 95));
    padding: 20px;
    color: white;
}